### Import modules

In [1]:
import os
import pandas as pd
import yfinance as yf

### User selects three stocks to track

In [11]:
ticker_list = []

for i in range(1, 4):
    ticker_list.append(input('Enter stock number ' + str(i) + ' to track: '))

Enter stock number 1 to track: SNAP
Enter stock number 2 to track: F
Enter stock number 3 to track: MSFT

### Collect data from past 5 years for selected stocks

In [15]:
tickers = str(ticker_list[0] + ' ' + ticker_list[1] + ' ' + ticker_list[2])
 
yf.download(tickers = tickers,
            period = '5y',
            interval = '1d',
            group_by = 'ticker')

[*********************100%***********************]  3 of 3 completed

             SNAP                                                          \
             Open       High        Low      Close  Adj Close      Volume
Date
2015-01-20    NaN        NaN        NaN        NaN        NaN         NaN
2015-01-21    NaN        NaN        NaN        NaN        NaN         NaN
2015-01-22    NaN        NaN        NaN        NaN        NaN         NaN
2015-01-23    NaN        NaN        NaN        NaN        NaN         NaN
2015-01-26    NaN        NaN        NaN        NaN        NaN         NaN
...           ...        ...        ...        ...        ...         ...
2020-01-13  17.48  18.000000  17.299999  18.000000  18.000000  22393900.0
2020-01-14  17.99  18.090000  17.665001  17.990000  17.990000  25390100.0
2020-01-15  18.00  18.520000  17.969999  18.190001  18.190001  23381300.0
2020-01-16  18.02  18.410000  17.777000  18.250000  18.250000  27050700.0
2020-01-17  19.10  19.290001  18.760000  19.110001  19.110001  46293200.0

                  MSFT                                                  \
                  Open        High         Low       Close   Adj Close
Date
2015-01-20   46.299999   46.650002   45.570000   46.389999   41.647015
2015-01-21   45.939999   46.139999   45.480000   45.919998   41.225071
2015-01-22   46.380001   47.139999   46.080002   47.130001   42.311356
2015-01-23   47.360001   47.389999   46.799999   47.180000   42.356243
2015-01-26   47.000000   47.130001   46.240002   47.009998   42.203625
...                ...         ...         ...         ...         ...
2020-01-13  161.759995  163.309998  161.259995  163.279999  163.279999
2020-01-14  163.389999  163.600006  161.720001  162.130005  162.130005
2020-01-15  162.619995  163.940002  162.570007  163.179993  163.179993
2020-01-16  164.350006  166.240005  164.029999  166.169998  166.169998
2020-01-17  167.419998  167.470001  165.429993  167.100006  167.100006

                          F
              Volume   Open   High    Low  Close  Adj Close    Volume
Date
2015-01-20  36161900  15.08  15.13  14.75  15.01  11.582973  28553700
2015-01-21  39081100  14.98  15.11  14.88  14.97  11.552107  23281500
2015-01-22  35898000  15.01  15.07  14.90  15.03  11.598407  23669200
2015-01-23  26211600  15.02  15.08  14.89  14.91  11.505804  21620600
2015-01-26  42525500  14.98  15.15  14.97  15.08  11.636991  25237200
...              ...    ...    ...    ...    ...        ...       ...
2020-01-13  21626500   9.25   9.26   9.11   9.24   9.240000  48553700
2020-01-14  23477400   9.22   9.33   9.21   9.29   9.290000  42935600
2020-01-15  21417900   9.27   9.30   9.18   9.19   9.190000  55923900
2020-01-16  23865400   9.23   9.28   9.15   9.17   9.170000  44310400
2020-01-17  33820800   9.19   9.23   9.13   9.16   9.160000  41642900

[1259 rows x 18 columns]